*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #efefef;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1876f2;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 5px 5%;
}
.logo{
    width: 160px;
    margin-right: 10px;
}
.left-nav{
    display: flex;
    align-items: center;
}
ul{
    display: flex;
}
ul li{
    margin-left: 10px;
    list-style: none;
}
ul li img{
    width: 28px;
    margin: 0 15px;
}
.right-nav{
    display: flex;
    align-items: center;
}
.user-icon{
    margin-left: 20px;
}
.user-icon img {
    width: 50px;
    border-radius: 50%;
}
.search-box{
    width: 220px;
    background-color: #efefef;
    align-items: center;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-radius: 20px;
}
.search-box img{
    width: 18px;
}
.search-box input{
    width: 100%;
    outline: none;
    padding: 10px;
    border: 0;
    background: transparent;
}
#online{
    position: relative;
}
#online::after{
    content: " ";;
    border: 2px solid rgb(255, 255, 255);
    background-color: #08c518;
    position: absolute;
    width: 8px;
    border-radius: 50%;
    height: 8px;
    right: 0;
    top: 0;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 13px 5%;
    height: 40vh;
}
.left-sidebar{
    position: sticky;
    top: 70px;
    flex-basis: 25%;
    align-self: flex-start;
}
.right-sidebar{
    position: sticky;
    top: 70px;
    flex-basis: 25%;
    align-self: flex-start;
}
.mian-section{
    flex-basis: 47%;
    height: 100vh;
}
.important-links a{
    text-decoration: none;
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;
}
.important-links img{
    width: 28px;
    margin-right: 15px;
}
.important-links a:last-child{
    color: #1876f2;
}
.important-links{
    border-bottom: 1px solid #ccc;
}
.shortcuts a{
    text-decoration: none;
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;
}
.shortcuts a img{
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;
}
.shortcuts p{
    margin: 25px 0;
    color: #626262;
}
